services:
  valhalla:
    image: ghcr.io/valhalla/valhalla:3.6.1
    container_name: valhalla_router
    platform: linux/arm64
    restart: always
    shm_size: '2gb'
    volumes:
      - ./config/valhalla.json:/data/valhalla.json:ro
      - ./data/valhalla_tiles/:/valhalla_tiles:ro
      - ./data/admin.sqlite:/data/admin.sqlite:ro
    ports:
      - "8002:8002"
    command: valhalla_service /data/valhalla.json 2

  valhalla-scotty:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scotty_middleware
    platform: linux/arm64
    restart: always
    depends_on:
      - valhalla
    ports:
      - "3000:3000"
    environment:
      - VALHALLA_URL=http://valhalla:8002
    volumes:
      - ./app_config:/app/config:ro